@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Apples To Apples</h1>
    <p class="lead">Please select the start button to join the cue</p>
    <p>
        @*// Prepare the process to run
            ProcessStartInfo start = new ProcessStartInfo();
            // Enter in the command line arguments, everything you would enter after the executable name itself
            start.Arguments = arguments;
            // Enter the executable to run, including the complete path
            start.FileName = ApplesToApples.exe;
            // Do you want to show a console window?
            start.WindowStyle = ProcessWindowStyle.Hidden;
            start.CreateNoWindow = true;

            // Run the external process & wait for it to finish
            using (Process proc = Process.Start(start))
            {
            proc.WaitForExit();

            // Retrieve the app's exit code
            exitCode = proc.ExitCode;
            }*@
    </p>
    <p><a href="http://apple.com" class="btn btn-primary btn-large">Start &raquo;</a></p>
</div>
